USE [LCCHPDev]
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertNewQuestionnaireWebScreen]    Script Date: 3/15/2015 6:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Liam Thier
-- Create date: 20141208
-- Description:	stored procedure to insert data 
--              from the Lead Research Subject Questionnaire web page
-- =============================================
CREATE PROCEDURE [dbo].[usp_InsertNewQuestionnaireWebScreen]
	-- Add the parameters for the stored procedure here
	@Person_ID int = NULL,
	@QuestionnaireDate date = NULL,
	@PaintPeeling bit = NULL,
	@PaintDate date = NULL, 
	@VisitRemodel bit = NULL,
	@RemodelDate date = NULL, 
	@Vitamins bit = NULL,
	@HandWash bit = NULL,
	@Bottle bit = NULL,
	@Nursing bit = NULL,
	@Pacifier bit = NULL,
	@BitesNails bit = NULL,
	@EatsOutdoors bit = NULL, 
	@NonFoodInMouth bit = NULL,
	@EatsNonFood bit = NULL,
	@SucksThumb bit = NULL,
	@Mouthing bit = NULL,
	@Daycare bit = NULL,
	@DayCareNotes varchar(3000) = NULL,
	@Source int = NULL,
	@QuestionnaireNotes varchar(3000) = NULL,
	@Questionnaire_return_value int OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ErrorLogID int; 

	BEGIN TRY
		-- set default date if necessary 
		IF (@QuestionnaireDate is null) 
		BEGIN
			print 'Need to specify QuestionnaireDate, setting to today by defualt';
			set @QuestionnaireDate = GetDate();
		END

		IF (@Person_ID IS NULL)
		BEGIN
			RAISERROR ('Client name must be supplied', 11, -1);
			RETURN;
		END;

		-- Client ID must already exist in the database
		IF ( (select PersonID from person where personID = @Person_ID ) is NULL)
		BEGIN
			RAISERROR ('Specified ClientID does not exist', 11, -1);
			RETURN;
		END

	
		EXEC	[dbo].[usp_InsertQuestionnaire]
				@PersonID = @Person_ID,
				@QuestionnaireDate = @QuestionnaireDate,
				@Source = NULL,
				@VisitRemodeledProperty = @VisitRemodel,
				@RemodelPropertyDate = @RemodelDate,
				@isExposedtoPeelingPaint = NULL,
				@isTakingVitamins = @Vitamins,
				@isNursing = @Nursing,
				@isUsingPacifier = @Pacifier,
				@isUsingBottle = @Bottle,
				@BitesNails = @BitesNails,
				@NonFoodEating = @EatsNonFood,
				@NonFoodinMouth = @NonFoodInMouth,
				@EatOutside = @EatsOutdoors,
				@Suckling = NULL,
				@FrequentHandWashing = @HandWash,
				@Daycare = @Daycare,
				@New_Notes = @QuestionnaireNotes,
				@QuestionnaireID = @Questionnaire_return_value OUTPUT 
	END TRY
	BEGIN CATCH
		-- Call procedure to print error information.
		EXECUTE dbo.uspPrintError;

		-- Roll back any active or uncommittable transactions before
		-- inserting information in the ErrorLog.
		IF XACT_STATE() <> 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

		EXECUTE dbo.uspLogError @ErrorLogID = @ErrorLogID OUTPUT;
		RETURN ERROR_NUMBER()
	END CATCH; 
END
GO
