USE [LCCHPDev]
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertAccessAgreement]    Script Date: 4/14/2015 1:07:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		William Thier
-- Create date: 20140817
-- Description:	Stored Procedure to insert new 
--				AccessAgreement records
-- =============================================
-- HISTORY
-- 12/13/2014	modified procedure to accept OUTPUT parameters

CREATE PROCEDURE [dbo].[usp_InsertAccessAgreement]   -- usp_InsertAccessAgreement 
	-- Add the parameters for the stored procedure here
	@AccessPurposeID int = NULL,
	@Notes varchar(3000) = NULL,
	@AccessAgreementFile varbinary(max) = NULL,
	@PropertyID int = NULL,
	@InsertedAccessAgreementID int OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ErrorLogID int;
    -- Insert statements for procedure here
	BEGIN TRY
		 INSERT into AccessAgreement (AccessPurposeID, AccessAgreementFile, PropertyID) 
					 Values ( @AccessPurposeID, @AccessAgreementFile, @PropertyID);
		SELECT @InsertedAccessAgreementID = SCOPE_IDENTITY();

		IF (@NOTES IS NOT NULL)
		BEGIN TRY 
			INSERT into AccessAgreementNotes (AccessAgreementID, Notes)
					Values (@InsertedAccessAgreementID, @Notes)
		END TRY
		BEGIN CATCH
			-- Call procedure to print error information.
			EXECUTE dbo.uspPrintError;

			-- Roll back any active or uncommittable transactions before
			-- inserting information in the ErrorLog.
			IF XACT_STATE() <> 0
			BEGIN
				ROLLBACK TRANSACTION;
			END

			EXECUTE dbo.uspLogError @ErrorLogID = @ErrorLogID OUTPUT;
		END CATCH;
	END TRY
	BEGIN CATCH
		-- Call procedure to print error information.
		EXECUTE dbo.uspPrintError;

		-- Roll back any active or uncommittable transactions before
		-- inserting information in the ErrorLog.
		IF XACT_STATE() <> 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

		EXECUTE dbo.uspLogError @ErrorLogID = @ErrorLogID OUTPUT;
		RETURN ERROR_NUMBER()
	END CATCH;
END







GO
