USE [LCCHPDev]
GO
/****** Object:  Table [dbo].[LCCHPAttachments]    Script Date: 3/24/2015 6:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LCCHPAttachments] AS FILETABLE ON [UData] FILESTREAM_ON [LCCHPAttachments]
WITH
(
FILETABLE_DIRECTORY = N'LCCHPAttachmentsDev', FILETABLE_COLLATE_FILENAME = SQL_Latin1_General_CP1_CI_AS
)

GO
SET ANSI_PADDING OFF
GO
