USE [LCCHPDev]
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertSampleType]    Script Date: 4/14/2015 1:07:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		William Thier
-- Create date: 20140817
-- Description:	Stored Procedure to insert new SampleType records
-- =============================================

CREATE PROCEDURE [dbo].[usp_InsertSampleType]   -- usp_InsertSampleType 
	-- Add the parameters for the stored procedure here
	@SampleTypeName varchar(20) = NULL,
	@SampleTypeDescription varchar(256) = NULL,
	@NewSampleTypeID int OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ErrorLogID int;
    -- Insert statements for procedure here
	BEGIN TRY
		 INSERT into SampleType ( SampleTypeName, SampleTypeDescription )
					 Values ( @SampleTypeName, @SampleTypeDescription );
		SELECT @NewSampleTypeID = SCOPE_IDENTITY();
	END TRY
	BEGIN CATCH
		-- Call procedure to print error information.
		EXECUTE dbo.uspPrintError;

		-- Roll back any active or uncommittable transactions before
		-- inserting information in the ErrorLog.
		IF XACT_STATE() <> 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

		EXECUTE dbo.uspLogError @ErrorLogID = @ErrorLogID OUTPUT;
		RETURN ERROR_NUMBER()
	END CATCH;
END
GO
