USE [LCCHPDev]
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertContractor]    Script Date: 4/14/2015 1:07:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		William Thier
-- Create date: 20140817
-- Description:	Stored Procedure to insert new Contractor records
-- =============================================

CREATE PROCEDURE [dbo].[usp_InsertContractor]   -- usp_InsertContractor 
	-- Add the parameters for the stored procedure here
	@ContractorDescription varchar(250) = NULL,
	@ContractorName varchar(50) = NULL,
	@NewContractorID int OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ErrorLogID int;
    -- Insert statements for procedure here
	BEGIN TRY
		 INSERT into Contractor ( ContractorDescription, ContractorName)
					 Values ( @ContractorDescription, @ContractorName);
		SELECT @NewContractorID = SCOPE_IDENTITY();
	END TRY
	BEGIN CATCH
		-- Call procedure to print error information.
		EXECUTE dbo.uspPrintError;

		-- Roll back any active or uncommittable transactions before
		-- inserting information in the ErrorLog.
		IF XACT_STATE() <> 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

		EXECUTE dbo.uspLogError @ErrorLogID = @ErrorLogID OUTPUT;
		RETURN ERROR_NUMBER()
	END CATCH;
END







GO
