USE [LCCHPDev]
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertCleanupStatus]    Script Date: 3/24/2015 6:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		William Thier
-- Create date: 20140817
-- Description:	Stored Procedure to insert new CleanupStatus records
-- =============================================

CREATE PROCEDURE [dbo].[usp_InsertCleanupStatus]   -- usp_InsertCleanupStatus 
	-- Add the parameters for the stored procedure here
	@CleanupStatusDescription varchar(200) = NULL,
	@CleanupStatusName varchar(25) = NULL,
	@NewCleanupStatusID int OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ErrorLogID int;
    -- Insert statements for procedure here
	BEGIN TRY
		 INSERT into CleanupStatus ( CleanupStatusDescription, CleanupStatusName)
					 Values ( @CleanupStatusDescription, @CleanupStatusName);
		SELECT @NewCleanupStatusID = SCOPE_IDENTITY();
	END TRY
	BEGIN CATCH
		-- Call procedure to print error information.
		EXECUTE dbo.uspPrintError;

		-- Roll back any active or uncommittable transactions before
		-- inserting information in the ErrorLog.
		IF XACT_STATE() <> 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

		EXECUTE dbo.uspLogError @ErrorLogID = @ErrorLogID OUTPUT;
		RETURN ERROR_NUMBER()
	END CATCH;
END







GO
