USE [LCCHPDev]
GO
/****** Object:  StoredProcedure [dbo].[usp_SlListPersonBaseDetails]    Script Date: 12/5/2015 8:30:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Liam Thier
-- Create date: 20151204
-- Description:	stored procedure to list basic person
--				info: LastName, FirstName, BirthDate, PersonID
--				if the @withoutFamily parameter = 1
--				only people with no family
--				associations will be returned
-- =============================================
CREATE PROCEDURE [dbo].[usp_SlListPersonBaseDetails]
	-- Add the parameters for the stored procedure here
	@PersonID int = NULL,
	@WithoutFamily bit = 0,
	@DEBUG BIT = 0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @spexecuteSQLStr NVARCHAR(4000)
			, @Recompile  BIT = 1, @ErrorLogID int;
	
	-- Build the base select statement
	SELECT @spexecuteSQLStr = N'Select [Person] =  [P].[LastName] + '', '' + [P].[FirstName] + '' - '' + convert(varchar,BirthDate,110) + '' - '' +  ''('' + cast([P].[PersonID] as varchar) + '')''
		,[P].[PersonID] FROM [Person] AS [P] WHERE 1 = 1'
	
	IF (@PersonID IS NOT NULL) 
		SELECT @spexecuteSQLStr = @spexecuteSQLStr + N' AND [P].[PersonID] = @PersonID';
	ELSE SET @Recompile = 0;

	-- If the people have families, select family information and property, otherwise limit selection to person information
	if (@WithoutFamily = 0)
	BEGIN
		Select @spexecuteSQLStr = @spexecuteSQLStr + 
						' AND PersonID in (select distinct PersonID from PersontoFamily)'
	END
	ELSE 
	BEGIN
		Select @spexecuteSQLStr = @spexecuteSQLStr + 
						' AND PersonID not in (select distinct PersonID from PersontoFamily)'
	END
	-- Construct the order by clause
	SELECT @spexecuteSQLStr = @spexecuteSQLStr
		+ N' order by [Person]';

	-- If there are only a few records recompile the procedure
	IF @Recompile = 1
		SELECT @spexecuteSQLStr = @spexecuteSQLStr + N' OPTION(RECOMPILE)';

	BEGIN TRY   
		IF (@DEBUG = 1) 
			SELECT @spexecuteSQLStr, 'PersonID' = @PersonID;
			 
		EXEC [sp_executesql] @spexecuteSQLStr
			, N'@PersonID int'
			, @PersonID = @PersonID;
	END TRY
			BEGIN CATCH
			-- Call procedure to print error information.
			EXECUTE dbo.uspPrintError;

			-- Roll back any active or uncommittable transactions before
			-- inserting information in the ErrorLog.
			IF XACT_STATE() <> 0
			BEGIN
				ROLLBACK TRANSACTION;
			END

			EXECUTE dbo.uspLogError @ErrorLogID = @ErrorLogID OUTPUT;
			RETURN ERROR_NUMBER()
		END CATCH;
END

